:root {
  --background-color: #fff;
  --body-title-color: #212121;
  --body-text-color: #757575;
  --accent-color: #2196f3;
  --hero-title-color: #fff;
  --btn-text-color: #fff;
  --background-select-color: #f5f4fa;
  --footer-backgroung-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --black-color: #000;
  --white-color: #fff;
  --icon-color: #afb1b8;
  --bcg-social-icon-footer-color: rgba(255, 255, 255, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
  background-color: var(--background-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Стилізація header */
.header {
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-dark {
  color: var(--black-color);
}

.nav-list,
.contact-list {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link,
.contact-link {
  display: block;
  padding: 32px 0;
}

.nav-link {
  color: var(--body-title-color);
}
.contact-link {
  display: flex;
  align-items: center;
  color: var(--body-text-color);
}

.nav-list {
  margin-left: 93px;
}
.nav-item:not(:last-child),
.contakt-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.contact-link:hover .contacts-icon,
.contact-link:focus .contacts-icon {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Стилізація hero */
.hero-section {
  padding: 200px 0;
}

.hero-container {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bcg.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.hero-section > .container {
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: transparent;
  color: var(--body-title-color);
  cursor: pointer;
}

.btn-hero {
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
}

/* Стилізація Переваги */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
}

.advantages-item {
  width: 270px;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-img {
  width: 70px;
  height: 70px;
}

.advantages-img-bcg {
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 102px;
  background-color: var(--background-select-color);
  border-radius: 4px;
}

.advantages-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--body-title-color);
}

/* Стилізація Чем мы занимаемся */
.activity-section {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--body-title-color);
}
.activity-list {
  display: flex;
}
.activity-item:not(:last-child) {
  margin-right: 30px;
}

.team-social-list {
  display: flex;
}
.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-item > .team-social-link {
  height: 100%;
  padding: 12px;
  display: block;
  border-radius: 50%;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

.team-social-link:hover,
.team-social-link:focus,
.team-social-link:hover .social-icon,
.team-social-link:focus .social-icon {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

/* Стилізація Наша команда */
.team-section {
  background-color: var(--background-select-color);
}

.team-list {
  display: flex;
}
.team-item {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item-info {
  padding: 30px 32px;
  text-align: center;
}
.team-item-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: var(--body-title-color);
}
.team-item-desc {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

/* Стилізація Постоянные клиенты */
.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  height: 100%;
  padding: 16px 32px;
  display: block;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}

.clients-link:hover .clients-logo,
.clients-link:focus .clients-logo,
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.clients-logo {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
}

/* Стилізація footer */
.footer {
  padding: 60px 0;
  background-color: var(--footer-backgroung-color);
}

.footer-address {
  margin-right: 70px;
}

.logo-lite {
  color: var(--white-color);
}

.footer-address-links {
  margin-top: 20px;
  font-style: normal;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-maps {
  color: var(--white-color);
}

.address-contact {
  color: var(--footer-link-color);
}

.address-contact:hover,
.address-contact:focus,
.address-maps:hover,
.address-maps:focus {
  color: var(--accent-color);
}

.social-title {
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.social-footer {
  fill: var(--white-color);
}

.footer-social-link {
  background-color: var(--bcg-social-icon-footer-color);
}

.footer > .container {
  display: flex;
}